.navbar {
    background-color: #333;
	height:100px;
}
        
.navbar-brand {
    color: #00C8FF;
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
}
       
.nav-link {
    color:  #228B22;
    text-decoration: none;
 }
  
 
.nav-link:hover {
    color: OrangeRed;
    border-bottom: 2px solid OrangeRed;
}


.nav-link.active {
    font-weight: bold;
    color: OrangeRed;
   
}
.imgContainer{
	width:80px;
	height:80px;	
	margin:0;

	
	
	
}

.btn-primary {
    background-color: OrangeRed;
    border: none;
}

.btn-primary:hover {
     background-color: #228B22;  
}


  
 