<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-15">
            <div class="border rounded-2 p-4">
                <h2 class="text-center mb-4 "style="color:green">Create an account</h2>
                <!-- Modal -->
                <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header ">
                                <i class="fa-solid fa-circle-check"></i>
                                
                            </div>
     
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                   >Login</button>

                            </div>
                        </div>
                    </div>
                </div>


                <!--The main Registration form-->
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <img src="../assets/logo.jpeg" alt="Login" style="max-width: 100%; height: 400px;">
                    </div>
                    <div class="col-md-6">
                        <form  autocomplete="off"
                            style="width: 100%;">



                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="firstName">First Name:</label>
                                <input formControlName="firstName" id="firstName" type="text" class="form-control"
                                    />

                             
                            </div>

                            <!-- Surname input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="lastName">Last Name:</label>
                                <input formControlName="lastName" id="lastName" type="text" class="form-control"
                                  />
                                
                            </div>


                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email address:</label>
                                <input formControlName="email" type="email" id="email" class="form-control"
                                     />
                           </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Password:</label>
                                <input formControlName="password" id="password" type="password" class="form-control">   
                            </div>

                            <!-- submit button -->
                            <div class="row mb-4">
                                <div class="col d-flex justify-content-start align-items-center">
                                    <div class="form-check">
                                        <button type="submit" class="btn btn-primary btn-block" >Submit</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <p class="text-center ">Already have an account? <a
                                            class=" text-decoration-none"  style="color:orangered"routerLink="/login">Login</a>
                                    </p>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
