<nav class="sidebar">
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span>Home</span>
      </li>
      <li routerLink="/dashboard/cards" routerLinkActive="active">
        <i class="fas fa-credit-card"></i>
        <span>Cards</span>
      </li>
      <li routerLink="/dashboard/scan" routerLinkActive="active">
        <i class="fas fa-qrcode"></i>
        <span>Scan</span>
      </li>
      <li routerLink="/dashboard/transactions" routerLinkActive="active">
        <i class="fas fa-receipt"></i>
        <span>Transactions</span>
      </li>
      <li routerLink="/dashboard/settings" routerLinkActive="active">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
      </li>
    </ul>
  </nav>
  
